body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-colour{
    color: coral;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding-left: 3%;
}
.half-width img{
width: 60%;
left: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius:5px;

}
.top banner{
    background-image: url(images/top-banner.png);
    background: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-position: right;
}
.exprience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    border: 10px solid;
box-shadow: 20px 15px 40px greenyellow;
}
.exprience-area{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position: left;
}
#web{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#full{
    border-left: 5px solid;
    border-image: linear-gradient(greenyellow,red);
    border-image-slice: 1;
}
footer h2{
    text-align: center;
}